In [1]:
#Importing required libraries
import pandas as pd
import numpy as np

# The Iris dataset is a well-known dataset and it contains measurements of iris flowers.
## Q1. Rename the columns of the dataset to 'SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', and 'Species'

In [2]:
#Importing the iris_datset using pd.read_csv()
df=pd.read_csv(r"C:\Users\RAGHAVENDRA KUMAR\Downloads\2732079-Datasets (1)\Datasets\iris.csv")

In [3]:
df1=df.copy()

In [4]:
df1

,Unnamed: 0,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
0,0,5.1,3.5,1.4,0.2,0,setosa
1,1,4.9,3.0,1.4,0.2,0,setosa
2,2,4.7,3.2,1.3,0.2,0,setosa
3,3,4.6,3.1,1.5,0.2,0,setosa
4,4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,2,virginica
146,146,6.3,2.5,5.0,1.9,2,virginica
147,147,6.5,3.0,5.2,2.0,2,virginica
148,148,6.2,3.4,5.4,2.3,2,virginica
149,149,5.9,3.0,5.1,1.8,2,virginica

In [5]:
df1=df.drop(columns="Unnamed: 0")

In [6]:
df1

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [7]:
#Renaming the columns using rename()
df1=df1.rename(columns={"sepal length (cm)":"SepalLength","sepal width (cm)":"SepalWidth","petal length (cm)":"PetalLength","petal width (cm)":"PetalWidth","target_names":"Species"})

In [9]:
df1

     SepalLength  SepalWidth  PetalLength  PetalWidth  target    Species
0            5.1         3.5          1.4         0.2       0     setosa
1            4.9         3.0          1.4         0.2       0     setosa
2            4.7         3.2          1.3         0.2       0     setosa
3            4.6         3.1          1.5         0.2       0     setosa
4            5.0         3.6          1.4         0.2       0     setosa
..           ...         ...          ...         ...     ...        ...
145          6.7         3.0          5.2         2.3       2  virginica
146          6.3         2.5          5.0         1.9       2  virginica
147          6.5         3.0          5.2         2.0       2  virginica
148          6.2         3.4          5.4         2.3       2  virginica
149          5.9         3.0          5.1         1.8       2  virginica

[150 rows x 6 columns]

# Q2.
## a.Set the index of the DataFrame to the 'Species' column.

In [10]:
df1.set_index("Species")

           SepalLength  SepalWidth  PetalLength  PetalWidth  target
Species
setosa             5.1         3.5          1.4         0.2       0
setosa             4.9         3.0          1.4         0.2       0
setosa             4.7         3.2          1.3         0.2       0
setosa             4.6         3.1          1.5         0.2       0
setosa             5.0         3.6          1.4         0.2       0
...                ...         ...          ...         ...     ...
virginica          6.7         3.0          5.2         2.3       2
virginica          6.3         2.5          5.0         1.9       2
virginica          6.5         3.0          5.2         2.0       2
virginica          6.2         3.4          5.4         2.3       2
virginica          5.9         3.0          5.1         1.8       2

[150 rows x 5 columns]

##  b.Retrieve the first 10 rows of the DataFrame using integer-based indexing.

In [12]:
df1.iloc[0:10]

   SepalLength  SepalWidth  PetalLength  PetalWidth  target Species
0          5.1         3.5          1.4         0.2       0  setosa
1          4.9         3.0          1.4         0.2       0  setosa
2          4.7         3.2          1.3         0.2       0  setosa
3          4.6         3.1          1.5         0.2       0  setosa
4          5.0         3.6          1.4         0.2       0  setosa
5          5.4         3.9          1.7         0.4       0  setosa
6          4.6         3.4          1.4         0.3       0  setosa
7          5.0         3.4          1.5         0.2       0  setosa
8          4.4         2.9          1.4         0.2       0  setosa
9          4.9         3.1          1.5         0.1       0  setosa

# Q3.
## a.Slice the DataFrame to display rows with 'PetalWidth' greater than 2.5.

In [13]:
df1.loc[(df1["PetalWidth"]>2.5)]

Empty DataFrame
Columns: [SepalLength, SepalWidth, PetalLength, PetalWidth, target, Species]
Index: []

## b.Slice the DataFrame to display columns 'SepalLength' and 'SepalWidth' for the first 5 rows.

In [20]:
df1.loc[0:4,"SepalLength":"SepalWidth"]

   SepalLength  SepalWidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1
4          5.0         3.6

In [21]:
df1.iloc[0:5,0:2]

   SepalLength  SepalWidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1
4          5.0         3.6

In [22]:
df1[["SepalLength","SepalWidth"]].head()

   SepalLength  SepalWidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1
4          5.0         3.6

# Q4.
## a.Filter the DataFrame to show only rows where 'Species' is 'versicolor'.

In [23]:
df1.loc[(df1["Species"]=="versicolor")]

    SepalLength  SepalWidth  PetalLength  PetalWidth  target     Species
50          7.0         3.2          4.7         1.4       1  versicolor
51          6.4         3.2          4.5         1.5       1  versicolor
52          6.9         3.1          4.9         1.5       1  versicolor
53          5.5         2.3          4.0         1.3       1  versicolor
54          6.5         2.8          4.6         1.5       1  versicolor
55          5.7         2.8          4.5         1.3       1  versicolor
56          6.3         3.3          4.7         1.6       1  versicolor
57          4.9         2.4          3.3         1.0       1  versicolor
58          6.6         2.9          4.6         1.3       1  versicolor
59          5.2         2.7          3.9         1.4       1  versicolor
60          5.0         2.0          3.5         1.0       1  versicolor
61          5.9         3.0          4.2         1.5       1  versicolor
62          6.0         2.2          4.0         1.0       1  versicolor
63          6.1         2.9          4.7         1.4       1  versicolor
64          5.6         2.9          3.6         1.3       1  versicolor
65          6.7         3.1          4.4         1.4       1  versicolor
66          5.6         3.0          4.5         1.5       1  versicolor
67          5.8         2.7          4.1         1.0       1  versicolor
68          6.2         2.2          4.5         1.5       1  versicolor
69          5.6         2.5          3.9         1.1       1  versicolor
70          5.9         3.2          4.8         1.8       1  versicolor
71          6.1         2.8          4.0         1.3       1  versicolor
72          6.3         2.5          4.9         1.5       1  versicolor
73          6.1         2.8          4.7         1.2       1  versicolor
74          6.4         2.9          4.3         1.3       1  versicolor
75          6.6         3.0          4.4         1.4       1  versicolor
76          6.8         2.8          4.8         1.4       1  versicolor
77          6.7         3.0          5.0         1.7       1  versicolor
78          6.0         2.9          4.5         1.5       1  versicolor
79          5.7         2.6          3.5         1.0       1  versicolor
80          5.5         2.4          3.8         1.1       1  versicolor
81          5.5         2.4          3.7         1.0       1  versicolor
82          5.8         2.7          3.9         1.2       1  versicolor
83          6.0         2.7          5.1         1.6       1  versicolor
84          5.4         3.0          4.5         1.5       1  versicolor
85          6.0         3.4          4.5         1.6       1  versicolor
86          6.7         3.1          4.7         1.5       1  versicolor
87          6.3         2.3          4.4         1.3       1  versicolor
88          5.6         3.0          4.1         1.3       1  versicolor
89          5.5         2.5          4.0         1.3       1  versicolor
90          5.5         2.6          4.4         1.2       1  versicolor
91          6.1         3.0          4.6         1.4       1  versicolor
92          5.8         2.6          4.0         1.2       1  versicolor
93          5.0         2.3          3.3         1.0       1  versicolor
94          5.6         2.7          4.2         1.3       1  versicolor
95          5.7         3.0          4.2         1.2       1  versicolor
96          5.7         2.9          4.2         1.3       1  versicolor
97          6.2         2.9          4.3         1.3       1  versicolor
98          5.1         2.5          3.0         1.1       1  versicolor
99          5.7         2.8          4.1         1.3       1  versicolor

## b.Filter the DataFrame to show rows where 'PetalLength' is greater than 4 and 'SepalWidth' is less than 3.

In [24]:
df1.loc[(df1["PetalLength"]>4) & (df1["SepalWidth"]<3)]

     SepalLength  SepalWidth  PetalLength  PetalWidth  target     Species
54           6.5         2.8          4.6         1.5       1  versicolor
55           5.7         2.8          4.5         1.3       1  versicolor
58           6.6         2.9          4.6         1.3       1  versicolor
63           6.1         2.9          4.7         1.4       1  versicolor
67           5.8         2.7          4.1         1.0       1  versicolor
68           6.2         2.2          4.5         1.5       1  versicolor
72           6.3         2.5          4.9         1.5       1  versicolor
73           6.1         2.8          4.7         1.2       1  versicolor
74           6.4         2.9          4.3         1.3       1  versicolor
76           6.8         2.8          4.8         1.4       1  versicolor
78           6.0         2.9          4.5         1.5       1  versicolor
83           6.0         2.7          5.1         1.6       1  versicolor
87           6.3         2.3          4.4         1.3       1  versicolor
90           5.5         2.6          4.4         1.2       1  versicolor
94           5.6         2.7          4.2         1.3       1  versicolor
96           5.7         2.9          4.2         1.3       1  versicolor
97           6.2         2.9          4.3         1.3       1  versicolor
99           5.7         2.8          4.1         1.3       1  versicolor
101          5.8         2.7          5.1         1.9       2   virginica
103          6.3         2.9          5.6         1.8       2   virginica
106          4.9         2.5          4.5         1.7       2   virginica
107          7.3         2.9          6.3         1.8       2   virginica
108          6.7         2.5          5.8         1.8       2   virginica
111          6.4         2.7          5.3         1.9       2   virginica
113          5.7         2.5          5.0         2.0       2   virginica
114          5.8         2.8          5.1         2.4       2   virginica
118          7.7         2.6          6.9         2.3       2   virginica
119          6.0         2.2          5.0         1.5       2   virginica
121          5.6         2.8          4.9         2.0       2   virginica
122          7.7         2.8          6.7         2.0       2   virginica
123          6.3         2.7          4.9         1.8       2   virginica
126          6.2         2.8          4.8         1.8       2   virginica
128          6.4         2.8          5.6         2.1       2   virginica
130          7.4         2.8          6.1         1.9       2   virginica
132          6.4         2.8          5.6         2.2       2   virginica
133          6.3         2.8          5.1         1.5       2   virginica
134          6.1         2.6          5.6         1.4       2   virginica
142          5.8         2.7          5.1         1.9       2   virginica
146          6.3         2.5          5.0         1.9       2   virginica

# Q5.
## a.Calculate the minimum 'PetalLength' across all species.

In [27]:
df1["PetalLength"].min()

1.0

In [30]:
print("The minimum PetalLength across all species :",df1["PetalLength"].min())

The minimum PetalLength across all species : 1.0

## b.Calculate the maximum 'SepalWidth' across all species.

In [31]:
df1["SepalWidth"].max()

4.4

In [32]:
print("The maximum SepalWidth across all species :",df1["SepalWidth"].max())

The maximum SepalWidth across all species : 4.4

# Q6.
## a.Calculate the sum of values along axis=1 (row-wise).

In [36]:
df1.sum(axis=1,numeric_only=True)

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
       ...
145    19.2
146    17.7
147    18.7
148    19.3
149    17.8
Length: 150, dtype: float64

## b.Calculate the mean of values along axis=0 (column-wise).

In [37]:
df1.mean(axis=0,numeric_only=True)

SepalLength    5.843333
SepalWidth     3.057333
PetalLength    3.758000
PetalWidth     1.199333
target         1.000000
dtype: float64

##  Q7.Add a new column 'PetalArea' calculated as the product of 'PetalLength' and 'PetalWidth'.

In [38]:
df1["PetalArea"]=df1["PetalLength"]*df1["PetalWidth"]

In [39]:
df1

,SepalLength,SepalWidth,PetalLength,PetalWidth,target,Species,PetalArea
0,5.1,3.5,1.4,0.2,0,setosa,0.28
1,4.9,3.0,1.4,0.2,0,setosa,0.28
2,4.7,3.2,1.3,0.2,0,setosa,0.26
3,4.6,3.1,1.5,0.2,0,setosa,0.30
4,5.0,3.6,1.4,0.2,0,setosa,0.28
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica,11.96
146,6.3,2.5,5.0,1.9,2,virginica,9.50
147,6.5,3.0,5.2,2.0,2,virginica,10.40
148,6.2,3.4,5.4,2.3,2,virginica,12.42
149,5.9,3.0,5.1,1.8,2,virginica,9.18

## Q8.Convert the 'SepalLength' column to float dtype using astype.

In [41]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   target       150 non-null    int64
 5   Species      150 non-null    object
 6   PetalArea    150 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 8.3+ KB

In [45]:
df1["SepalLength"]=df1["SepalLength"].astype(int)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    int32
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   target       150 non-null    int64
 5   Species      150 non-null    object
 6   PetalArea    150 non-null    float64
dtypes: float64(4), int32(1), int64(1), object(1)
memory usage: 7.7+ KB

In [46]:
df1["SepalLength"]=df1["SepalLength"].astype(float)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   target       150 non-null    int64
 5   Species      150 non-null    object
 6   PetalArea    150 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 8.3+ KB

## Q9. Query the DataFrame to show rows where 'PetalLength' is greater than 'SepalLength'.

In [48]:
df1.loc[(df1["PetalLength"]>df1["SepalLength"]),["SepalLength","PetalLength","Species"]]

     SepalLength  PetalLength    Species
101          5.0          5.1  virginica
106          4.0          4.5  virginica
114          5.0          5.1  virginica
142          5.0          5.1  virginica
149          5.0          5.1  virginica

## Q10. Apply a function to calculate the difference between 'PetalLength' and 'SepalLength' for each row.

In [67]:
df1.apply(lambda x:x["PetalLength"]-x["SepalLength"],axis=1)

0     -3.6
1     -2.6
2     -2.7
3     -2.5
4     -3.6
      ...
145   -0.8
146   -1.0
147   -0.8
148   -0.6
149    0.1
Length: 150, dtype: float64

# Q11. 
## a.Find the top 3 rows with the largest 'PetalLength'

In [68]:
#Finding the top 3 rows using sort_values()
df1.sort_values(by="PetalLength",ascending=False)[:3]

,SepalLength,SepalWidth,PetalLength,PetalWidth,target,Species,PetalArea
118,7.0,2.6,6.9,2.3,2,virginica,15.87
122,7.0,2.8,6.7,2.0,2,virginica,13.40
117,7.0,3.8,6.7,2.2,2,virginica,14.74

In [69]:
#Finding the top 3 rows using nlargest()
df1.nlargest(3,"PetalLength")

,SepalLength,SepalWidth,PetalLength,PetalWidth,target,Species,PetalArea
118,7.0,2.6,6.9,2.3,2,virginica,15.87
117,7.0,3.8,6.7,2.2,2,virginica,14.74
122,7.0,2.8,6.7,2.0,2,virginica,13.40

## b.Find the top 3 rows with the smallest 'SepalWidth'.

In [70]:
df1.sort_values(by="SepalWidth")[:3]

,SepalLength,SepalWidth,PetalLength,PetalWidth,target,Species,PetalArea
60,5.0,2.0,3.5,1.0,1,versicolor,3.5
62,6.0,2.2,4.0,1.0,1,versicolor,4.0
119,6.0,2.2,5.0,1.5,2,virginica,7.5

In [71]:
df1.nsmallest(3,"SepalWidth")

,SepalLength,SepalWidth,PetalLength,PetalWidth,target,Species,PetalArea
60,5.0,2.0,3.5,1.0,1,versicolor,3.50
62,6.0,2.2,4.0,1.0,1,versicolor,4.00
68,6.0,2.2,4.5,1.5,1,versicolor,6.75

# Q12. 
## a.Sort the DataFrame by 'PetalWidth' in ascending order.

In [72]:
df1.sort_values(by="PetalWidth")

,SepalLength,SepalWidth,PetalLength,PetalWidth,target,Species,PetalArea
32,5.0,4.1,1.5,0.1,0,setosa,0.15
13,4.0,3.0,1.1,0.1,0,setosa,0.11
37,4.0,3.6,1.4,0.1,0,setosa,0.14
9,4.0,3.1,1.5,0.1,0,setosa,0.15
12,4.0,3.0,1.4,0.1,0,setosa,0.14
...,...,...,...,...,...,...,...
140,6.0,3.1,5.6,2.4,2,virginica,13.44
114,5.0,2.8,5.1,2.4,2,virginica,12.24
100,6.0,3.3,6.0,2.5,2,virginica,15.00
144,6.0,3.3,5.7,2.5,2,virginica,14.25
109,7.0,3.6,6.1,2.5,2,virginica,15.25

##  b.Sort the DataFrame by 'SepalLength' in descending order.

In [73]:
df1.sort_values(by="SepalLength",ascending=False)

,SepalLength,SepalWidth,PetalLength,PetalWidth,target,Species,PetalArea
109,7.0,3.6,6.1,2.5,2,virginica,15.25
135,7.0,3.0,6.1,2.3,2,virginica,14.03
107,7.0,2.9,6.3,1.8,2,virginica,11.34
105,7.0,3.0,6.6,2.1,2,virginica,13.86
117,7.0,3.8,6.7,2.2,2,virginica,14.74
...,...,...,...,...,...,...,...
57,4.0,2.4,3.3,1.0,1,versicolor,3.30
22,4.0,3.6,1.0,0.2,0,setosa,0.20
29,4.0,3.2,1.6,0.2,0,setosa,0.32
24,4.0,3.4,1.9,0.2,0,setosa,0.38
41,4.0,2.3,1.3,0.3,0,setosa,0.39